nav.navbar.navbar-expand-lg.navbar-light.navTop,div#navbarNav {
    justify-content: center !important;
}
nav.navbar.navbar-expand-lg.navbar-light{
    background-color: #fecc00 !important;
}
.btn{
    background-color: #fecc00 !important;
    border: none !important;
}
a.nav-link {
    font-weight: bold;
     color: black !important;
}
.submitGlass{
 background-image: url(./img/loupe.png);
 background-size: 16px;
 background-repeat: no-repeat;
 background-position: center;
position: absolute;
right: 8px !important;
    bottom: 0px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0) !important;
}
form{
    position: relative;
}
.formLogin,.formRegistration{
    width: 50%;
    margin: auto;
}
h1{
    text-align: center;
}
.jumbotron.my-3.shadow-sm.col-3 {
    text-align: center;
}